body {
    background-color: black;
    
}

/* Nav bar */

nav {
    color: white;
    margin-top: 18px;
        
}
.navImage {
    margin-right: 20px;
}
nav a {
    color: black;
}

#navcolor {
    color: white;
}


.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navCTA {
    font-size: 15px;
    padding: 10px;
}



/* jumbotron */

.mediaBackground {
    background-image: url("../images/icons-back.webp");
}

.jumbocolor {
    color: yellow;
}



/* Skills  */

.skills-img {
    background-color: black;
}

#color {
    color: yellow;
}

.btn-lg {
    margin-right: 20px;
}

#container-w {
    margin-top: 50px;
}


#border {
    margin-top: 35px;
}

.card-aboutme {
    border: none;
}

.btn-shadow-hover:hover {
    box-shadow: 0 0 80px rgba(114, 254, 0, 0.3);
}

#contact-info {
    float: left;
}

.text-end {
    margin-right: 150px;
    
}
